In [3]:
import pandas as pd

In [18]:
data=pd.read_pickle('result/classify_cate.pkl')
data['match'] = data.apply(lambda x:x.label==x.predict,axis=1)

In [19]:
data.head()

               text    pos1    pos2 label predict  match
0         很好，超值，很好用    None  (0, 1)    整体      整体   True
1         很好，超值，很好用    None  (3, 4)    价格      价格   True
2         很好，超值，很好用    None  (6, 8)    整体      整体   True
3  很好，遮暇功能差一些，总体还不错    None  (0, 1)    整体      整体   True
4  很好，遮暇功能差一些，总体还不错  (3, 6)  (7, 9)    功效      功效   True

In [4]:
data2=pd.read_pickle('result/classify_polarity.pkl')
data2['match'] = data2.apply(lambda x:x.label==x.predict,axis=1)

In [5]:
data2.head()

                      text      pos1      pos2 label predict  match
0  电脑已收到，这价位非常给力  客服也非常有耐心    (7, 8)   (9, 12)    正面      正面   True
1  电脑已收到，这价位非常给力  客服也非常有耐心  (15, 16)  (18, 22)    正面      正面   True
2       才用了不到一周就开不了机了，耽误事啊      None   (8, 12)    负面      负面   True
3     每次开机都是这样 客服也不给解决 无语了   (9, 10)  (12, 15)    负面      负面   True
4  电脑性能强，玩游戏不带卡的，而且手感很好，很顺    (2, 3)    (4, 4)    正面      正面   True

In [6]:
data2[data2.match==False]

,text,pos1,pos2,label,predict,match
24,轻薄，显示器稍觉得淡，速度正常。好评。,"(3, 5)","(9, 9)",负面,中性,False
55,新电脑买了不到十天充不了电了，你们的品质我也是真的服了！,"(18, 19)","(23, 26)",负面,正面,False
62,配置可以，对得起2999元，外壳较簿而且廉价感十足！,"(14, 15)","(16, 17)",负面,正面,False
63,配置可以，对得起2999元，外壳较簿而且廉价感十足！,"(14, 15)","(20, 24)",负面,正面,False
192,东西不错，但是购物体验很差，刚买就又降价100，太@了,None,"(2, 3)",负面,正面,False
194,虽然价格降低了不少，可是看到实物后真有点后悔，这个屏幕的分辨率实在惨不忍睹，对分辨率要求高的...,"(2, 3)","(5, 8)",正面,负面,False

In [13]:
data2['match2'] = data['match']

In [15]:
data2.apply(lambda x:x.match and x.match2,axis=1).sum()

1238

In [16]:
1238/data2.shape[0]

0.93293142426526

In [25]:
for i in data['text']:
    if '货已收到了' in i:
        print(i)

In [24]:
'味道淡淡的 水分超足 没有刺激感'[7:9]

'分超'

In [21]:
data.loc[1048,'text'][7:9]

'水分'

In [44]:
data['pos1'].values[0]

In [56]:
c = 0
for index,row in data.iterrows():
    if row['pos1'] is not None and row['pos2'] is not None:
        c+=1
print(c)

348

In [57]:
data.shape

(1327, 6)

In [53]:
data.apply(lambda x: 1 if str(x.pos2)[0]!='(' and str(x.pos1)[0] !='(' else 0,axis=1).sum()

0

In [30]:
data['label'].value_counts()

正面    1187
负面     118
中性      22
Name: label, dtype: int64